<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>RolesIndex</servlet-name>
		<servlet-class>controller.roles.RolesControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesIndex</servlet-name>
		<url-pattern>/role</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RolesAdd</servlet-name>
		<servlet-class>controller.roles.RolesControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesAdd</servlet-name>
		<url-pattern>/role/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResourcesIndex</servlet-name>
		<servlet-class>controller.resources.ResourcesControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesIndex</servlet-name>
		<url-pattern>/resource</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResourcesAdd</servlet-name>
		<servlet-class>controller.resources.ResourcesControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResourcesAdd</servlet-name>
		<url-pattern>/resource/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddController</servlet-name>
		<servlet-class>controller.profesor.AddController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddController</servlet-name>
		<url-pattern>/profesores/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UpdateController</servlet-name>
		<servlet-class>controller.profesor.UpdateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateController</servlet-name>
		<url-pattern>/profesores/update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ViewController</servlet-name>
		<servlet-class>controller.profesor.ViewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewController</servlet-name>
		<url-pattern>/profesores/view</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>IndexController</servlet-name>
		<servlet-class>controller.profesor.IndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexController</servlet-name>
		<url-pattern>/profesores</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteController</servlet-name>
		<servlet-class>controller.profesor.DeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteController</servlet-name>
		<url-pattern>/profesores/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UsersIndex</servlet-name>
		<servlet-class>controller.users.UsersControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersIndex</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserAdd</servlet-name>
		<servlet-class>controller.users.UsersControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserAdd</servlet-name>
		<url-pattern>/user/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccessControllerIndex</servlet-name>
		<servlet-class>controller.access.AccessControllerIndex</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerIndex</servlet-name>
		<url-pattern>/access</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AccessControllerAdd</servlet-name>
		<servlet-class>controller.access.AccessControllerAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccessControllerAdd</servlet-name>
		<url-pattern>/access/add</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
